<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inno courses</title>

    <script src="./static/scripts/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="./static/scripts/header.js"></script>

    <link rel="stylesheet" type="text/css" href=".\static\styles\header.css"/>
    <link rel="stylesheet" type="text/css" href=".\static\styles\login.css"/>
    <link rel="stylesheet" type="text/css" href=".\static\styles\controls.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" integrity="sha256-3iu9jgsy9TpTwXKb7bNQzqWekRX7pPK+2OLj3R922fo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css" integrity="sha256-QiWfLIsCT02Sdwkogf6YMiQlj4NE84MKkzEMkZnMGdg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css" integrity="sha256-vtR0hSWRc3Tb26iuN2oZHt3KRUomwTufNIf5/4oeCyg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@hackmd/emojify.js@2.1.0/dist/css/basic/emojify.min.css" integrity="sha256-UOrvMOsSDSrW6szVLe8ZDZezBxh5IoIfgTwdNDgTjiU=" crossorigin="anonymous" />

</head>
<body>
<div id="header">
    <div class="text_name">Inno courses</div>
</div>
<div class="center_block">
    <form id="register" action="/user_register" method="post" style="display: block; text-align: center;">
        <div class="title_text_block">
            <p class="title_text">Register</p>
        </div>
        <input class="input_elem" name="name" placeholder="Name">
        <input class="input_elem" name="surname" placeholder="Surname">
        <input class="input_elem" name="login" placeholder="Login">
        <input class="input_elem" name="password" type="password" placeholder="Password">
        <div class="block_sign_in_out">
            <button class="input_button" type="submit" value="Sign up">Sign up</button>
            <a href="/login">Have an account?</a>
        </div>
    </form>
</div>
</body>
</html>