.course_item{
    font-family: Century Gothic,Arial,Helvetica,sans-serif;
    border-style: solid;
    font-size: 16px;
    display: flex;
    width: 350px;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    margin-top: 10px;
    margin-right: 10px;
    padding: 12px;
}
.course_item:hover {
    background: #e0e0e0;
    cursor: pointer;
}

.courses_view{
    padding-left: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}